/****************************************TAG SELECTOR****************************************/
body {
    background-color: white;
}
hr {
    background-color: #EAF6F6;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
#title{
    background-color:black;
}
.home-section{
    font-family:'Montserrat',sans-serif ;
    text-align: left;
    margin:100px auto 100px 200px;
    width:70%;
}
.main{
    float: left;
    margin-right: 100px
}
.name{
    color: blue ;
}

.univ{
    color: black;
}
.univ:hover{
    color:cornflowerblue
}
.name{
    color: blue;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light",sans-serif  ;
}

img{
    width:350px;
    height: 350px;
}

.navbar-brand{
    font-size: 1.8rem;
}

.logo{
    height: 50px;
    width: 50px;
    margin: 2rem;
}
.fa-brands{
    padding:5px;
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
}

  
           
